# Gotify configuration
# Замените значения на свои
GOTIFY_URL="https://your-gotify-server.com"
GOTIFY_TOKEN="your-gotify-api-key"

# NetBird Domain (без точки в начале)
# Оставьте пустым, чтобы использовать полное FQDN
NETBIRD_DOMAIN="example.com"
